:root.theme-dark {
  --page-background-color: #000028;
  --accent-color:#FF0070;
  --header-color: #FF0070;
  --header-title-color: #DB00FF;
  --header-text-color:#000028;
  --section-title-color: #FF0070;
  --section-header-text-color:#000028;
  --section-text-color:#F1B2CE;
}
