/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import "../fonts/fonts.css";
h2{
  font-family: var(--page-text-family);
  font-weight: 700;
  font-size: var(--page-text-font-size);
  line-height: var(--page-line-height);
}
.page {
  font-family: var(--page-text-family);
  font-weight: var(--page-text-font-weight);
  font-size:var(--page-text-font-size);
  line-height: var(--page-line-height);
  background-color: var(--page-background-color);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*Header*/
.decorated-zone::before {
  content: "";
  position: absolute;
  justify-self: end;
  align-self: flex-start;
  border-inline-end: 1px solid var(--header-color);
  border-block-start: 1px solid var(--header-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  justify-self: start;
  align-self: flex-end;
  border-inline-start: 1px solid var(--header-color);
  border-block-end: 1px solid var(--header-color);
  inline-size: 25px;
  block-size: 25px;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto 1fr;
  grid-auto-flow: column;
  align-items: center;
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-header {
  position: absolute;
  top: 10px;
  visibility: var(--is-theme-dark);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-self: end;
  gap: 10px;
  align-self: flex-start;
  color: var(--accent-color);
  font-size: var(--header-text-font-size);
  line-height: 25px;
  text-transform: uppercase;
  block-size: 25px;
}

.decorated-header::after {
  content: "";
  align-self: center;
  margin-inline-end: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}
.header__theme-menu {
  grid-column: 2/3;
  justify-self: end;
}
.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--header-color);
  font-size: var(--header-text-font-size);
  text-transform: lowercase;
  background-color: transparent;
}
.header__theme-menu-button:hover{
  border: 1px solid color-mix(in srgb, var(--header-color) 50%, transparent);
}
.header__theme-menu-button:focus{
  border: none;
  border-bottom: 1px solid var(--header-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-color);
}
.header-title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--header-title-color);
  font-size: var(--header-title-font-size);
  line-height: var(--header-height-line);
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header-title-text {
  display: inline-block;
  grid-column: 1 / 3;
  justify-content: end;
  color: var(--header-text-color);
  font-size: var(--header-text-font-size);
  background-color: var(--accent-color);
}

/*Main*/
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 50px;
  max-height: 5355px;
  margin-block: 40px;
  padding-inline: 10px;
}
.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / 4;
  gap: 20px;
}
.section-card {
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  grid-column: 1 / 4;
  row-gap: 10px;
}
/*Sections with text*/
.section-title {
  grid-column: 1 / 4;
  color: var(--section-title-color);
}

.section-card-heading {
  grid-column: 1 / 4;
  color: var(--section-header-text-color);
  background-color: var(--section-header-background);
}
.section-card-heading:not(:first-child){
  margin-block-start: 10px;
}

.subheading {
  font-weight: 400;
}

.section-card-text {
  grid-column: 1 / 4;
  color: var(--section-text-color);
}

.section-card-text-link {
  color: var(--section-text-color-link);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.section-card-text-link:hover {
  text-decoration: underline;
}

.section-card-text-link:focus {
  border: 1px solid var(--section-text-color);
}

/*Sections with images*/
.section-card-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-column: 1 / 4;
  gap: 10px;
}
.section-card-image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}

/*Footer*/
.footer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer-title {
  justify-self: center !important;
  align-self: center !important;
  color: var(--footer-title-color);
  font-size: var(--header-title-font-size);
  line-height: var(--header-title-line-height);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Adaptive styles */
@media (width >= 768px) {
  :root{
    --header-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header {
    padding: 20px;
  }
  .decorated-header {
    top: 20px;
  }

  .header-title {
    position: relative;
    margin-inline-start: -20px;
  }

  .header-title-text {
    grid-column: 2 / 3;
  }

  .main {
    row-gap: 50px;
    margin-block: 60px;
    padding-inline: 20px;
  }

  .section:not(:first-child){
    margin-block-start: 10px;
  }
  .section:nth-child(3) {
    margin-block-start: 25px;
  }
  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section-title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .section-card {
    grid-column: 2 / 3;
  }

  .section:nth-child(2) .section-card {
    grid-column: 1 / 4;
  }

  .section > .section-card-heading {
    grid-column: 2 / 3;
  }
  .for-image {
    grid-column: 1/4 !important;
  }
  .section-card-images {
    gap: 20px;
  }

  .section-card-image {
    object-fit: cover;
    object-position: center;
  }
  .section-card-image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .section-card-image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-card-image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section-card-image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section-card-image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .decorated-header {
    top: 20px;
    right: 20px;
  }
  .header__theme-menu-list {
    grid-auto-flow: column;
  }
  .header__theme-menu{
    grid-column: 1/3;
    justify-self: center;
    align-self: start;
  }
  .section:nth-child(3){
    margin-block-start: 10px;
  }

  .section-card {
    grid-column: 2 / 4;
  }

  .section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .section:nth-child(2) .section-title {
    grid-column: span 1;
    grid-row: span 1;
  }

  .section:nth-child(2) .section-card {
    grid-column: span 1;
    grid-row: 2 / 3;
  }
}
